.team-card {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  width: 15rem;
  height: 17rem;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}
.team-member-photo {
  padding-bottom: 5rem;
}
.team-member-photo img {
  width: 12rem;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.team-member-details{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem;
}
.team-member-socials{
  color: wheat;
  font-size: 2rem;
}
