.sponsors-card {
    gap: 1rem;
    display: flex;
    margin-top: 3rem;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    flex-direction: column;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: center;
}
.sponsors-image img {
    width: 14rem;
    height: 14rem;
    border-radius: 1rem;
}
.sponsor-name {
    font-size: 2rem;
    width: 14rem;
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    /* background: rgba(0, 0, 0, 0.35); */
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    /* backdrop-filter: blur(0px); */
    /* -webkit-backdrop-filter: blur(0px); */
    /* border-radius: 10px; */
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    /* width: 1rem; */
    text-align: center;
    color: rgb(32, 58, 228);
    font-family: "Arial ROUNDED mt", sans-serif;
    /* font-family: "Fredoka One", cursive; */
    color: rgb(72, 67, 67);
    /* color: white; */
    /* font-size: 3rem; */
    /* padding: 0; */
    font-weight: 500;
}
