.header {
    z-index: 550;
    position: sticky;
    top: 0;
    background: linear-gradient(90deg,  rgb(119, 195, 228) 0%,#7156D0 100%);
}

.header.active {
    background: rgba(204, 255,255, 0.2);
    backdrop-filter: blur(0.8rem);
}

.nav-links {
    display: flex;
    width: auto;
}

#rnd-logo-scroll {
z-index:101;
    margin-left: 1rem;
    margin-bottom: 0.5rem;

}

#nav-logo {
    margin-bottom: 0.5rem;
    display: inline;

}

#nav-logo :hover {
    transition: all 0.5;
    border-radius: 1rem;
    background-color: #116466;
    color: #d1e8e2;
}

#menu {
    /* background: transparent; */
    top: 0;
    z-index: 2;
    position: sticky;
    color: #fff;
    /* height: 48px; */
    padding-left: 18px;
    /* font-size: 2rem; */
    border-radius: 0px;
    height: 4.7rem;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

#menu li {
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 100;
}

.font-links {
    font-size: 2rem;
    /* line-height: 3.5rem; */
    margin-right: 1vw;
    background: transparent;
}

.font-links .active {
    color: #1ef4e5;
    border: 2px solid #5ff0d1;
}

#nav-logo {
    float: left;
    width: 10rem;
    color: #edf0f1;
    cursor: pointer;
    padding: 0.2rem;

}

#menu a {
    display: block;
    /* line-height: 48px; */
    padding: 0 0.5vw .15vw .5vw;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 400;
}

#menu a.dropdown-arrow:after {
    content: "\25BE";
    margin-left: 5px;
}

#menu li a:hover {
    transition: all 0.5;
    border-radius: 1rem;
    background-color: #116466;
    color: #d1e8e2;
}

#rnd-logo-scroll {
    margin-top: .4rem;

}

#menu #rnd-logo-scroll:hover {
    transition: all 0.5;
    padding-bottom: 0;
    border-radius: 1rem;
    background-color: #116466;
    color: #d1e8e2;
}

#menu input {
    display: none;
    margin: 0;
    padding: 0;
    height: 48px;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

#menu label {
    display: none;
    line-height: 48px;
    text-align: center;
    position: absolute;
    left: 35px;
}

#menu label:before {
    font-size: 1.6em;
    content: "\2261";
    margin-left: 20px;
}

#menu ul.sub-menus {
    height: auto;
    overflow: hidden;
    width: 170px;
    background: #444444;
    position: absolute;
    z-index: 1;
    display: none;
}

#menu ul.sub-menus li {
    display: block;
    width: 100%;
}

#menu ul.sub-menus a {
    color: #ffffff;
    font-size: 16px;
}

#menu li:hover ul.sub-menus {
    display: block;
}

#menu ul.sub-menus a:hover {
    background: #f2f2f2;
    color: #444444;
}

#link {
    font-size: 2rem;
    margin: 0 3.5rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    cursor: pointer;
    padding: 0rem 2.5vw .15vw .5vw;
}

@media screen and (max-width: 1024px) {
    #link {
        padding: 0.1rem;
        margin: auto;

    }

    #rnd-logo-scroll {

        margin-bottom: 0.5rem;
        margin-left: 0.4rem;

    }

}

@media screen and (max-width: 768px) {
    .nav-logo {
        /* display:none; */
        z-index: 200;
        /* position: relative;
        float: left; */
    }

    #rnd-logo-scroll {

        /* margin-bottom: 1rem; */
        margin-left: 0.7rem;

    }

    #menu a {
        text-align: center;
    }

    #nav-logo {
        margin-top: 0.1rem;

    }

    #menu {
        position: relative;
    }

    #menu ul {
        background: rgba(4, 203, 250, 0.5);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(8.5px);
        -webkit-backdrop-filter: blur(8.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 3;
        height: auto;
        display: none;
    }

    #menu ul.sub-menus {
        width: 100%;
        position: static;
    }

    #menu ul.sub-menus a {
        padding-left: 30px;
    }

    #menu li {
        padding: 0.9rem;
        display: block;
        float: none;
        width: auto;
        border-bottom: 1px white solid;
    }

    #menu li:nth-child(6) {
        border-bottom: none;
    }

    #menu input,
    #menu label {
        position: absolute;
        top: 0.7rem;
        display: flex;
        right: 2rem;
        /* float: right; */
        justify-content: flex-end;
    }

    #menu input {
        z-index: 4;
    }

    #menu input:checked+label {
        color: white;
    }

    #menu input:checked+label:before {
        content: "\00d7";
    }

    #menu input:checked~ul {
        display: block;
    }
}